*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

/* SECTOR DE TITULO */
.contenedor-titulo{
    width:100%;
    background-color:rgba(0, 0, 0, 0.788);
    height:170px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}

.logo{
    height:150px;
    width:150px;
    border:1px solid black;
}

.titulo-pagina{
    display:flex;
    justify-content: center;
    width:auto;
    height:auto;
    font-size:50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}


.navegador-alinear{
    width:auto;
    height:auto;
    align-content: center;
    text-decoration: none;
}

.navegador-alinear ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.712);
}

.navegador-alinear ul li{
    list-style:none;
    display:inline-block;
    
    background-color: rgba(16, 8, 54, 0.692);
    width:170px;
    height:50px;
    text-align: center;
    align-content: center;
}

.navegador-alinear ul li:hover{
    background-color:rgb(40, 40, 180);
}

.navegador-alinear ul li a:hover{
    color:white;
}


/* SECTOR DE HERO */

.imagen-fondo{
    width:100%;
    height:680px;
    background-color:rgba(235, 173, 173, 0.712);
    background-image: linear-gradient(rgba(50, 33, 158, 0.493),rgba(0, 0, 0, 0.671)), url("imagenes/c-PersonalChupieTheChupacabra__AAAB5BDBE7E54C9C9FEB150609F037ED_1645848423572-e1646311168459-1152x1536.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
}

.imagen-fondo h1{
    font-size: 50px;
}

/* SECTOR FOOTER */

.pie-de-pagina{
    width:100%;
    height:116px;
    background-color: rgba(0, 0, 0, 0.788);
    display:flex;
    align-items: center;
}

.pie-de-pagina ul{
    width:100%;
}
.pie-de-pagina ul li{
    list-style: none;
    font-size:20px;
    width:100%;
    align-items: center;
    text-align: center;
    padding-top:2px;
}
.Logo-Footer{
    height:100px;
    width:200px;
    background-color: rgba(255, 255, 255, 0.829);
    border:2px solid rgb(0, 0, 0);
    padding:5px;
    display:flex;
}

.Texto-blanco{
    color:white;
}

/* Estilos para radio */

.contenedor-seleccion{
    width:100%;
    height:80px;
    background:grey;
    display:flex;
    justify-content: center;
}

/*Estilo para tablas*/

.contenedor-tabla{
    width:100%;
    height:auto;
    display:flex;
    align-content: center;
}

.centrar-check{
    display:flex;
    align-items: center;
    align-content: center;
}

.centrar-check div{
    display:flex;
    text-align: center;
}


/*CONTENEDOR PARA PAGINA INDEX2 */

.contenedor-general-index2{
    width:100%;
    height:830px;
    display:flex;
    background-image: linear-gradient(rgba(12, 1, 1, 0.63),rgba(30, 128, 207, 0.685)),url("fondos/chupipi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.contenedores-index2{
    width:50%;
    height: 90%;
    background-color: rgba(37, 128, 212, 0.233);
    display:inline-block;
    color:rgba(255, 255, 255, 0.699);
    margin:10px;
    overflow:scroll;
    text-align:justify;
    padding:10px;
}

.contenedores-index2 h1{
    font-size: 40px;
    text-align: center;
}
.contenedores-index2 h2{
    font-size: 20px;
    text-align: center;
}
/*Estilo para el formulario*/

.contenedor-para-formulario {
    width: 100%;
    display: inline-block;
    align-items: center;

}

.centrar-contenedor {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.imagen-fondo2{
    width:100%;
    height:100%;
}

.imagen-fondo-index3{
    width:100%;
    height:1200px;
    background-color: rgba(128, 128, 128, 0.582);
    background-position: center;
}

.Contenedor-total-formulario{
    height:600px;
    width:100%;
    background-color:red;
    display:inline-block;
}
.contenedor-en-linea{
    width:45%

}




